.charmain { 
    width: 100vw;
    height: 140vh;
    background-color: #F8EAB6; 
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12, 1fr);
    .charsheet {
        grid-row: 2/8;
        grid-column: 2/8;
        height: 382px;
        width: 270px;
        padding-right: 2vw;
        img {
            border: solid black 1px;
            width: inherit;
            height: inherit;
        }
    }
}