.dicemain {
    width: 100vw;
    height: 110vh;
    background-color: #F8EAB6; 
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(12, 1fr);

    /*.bg-images {
        width: 317px; height: 159px;
        background: url('../img/css_sprites.png') -10px -606px;
    } */


}