body {
    margin: 0;
}


.container {
    height: 110vh;
    width: 100vw;
    background-color: black;

    .show {
        display: block;
    }

    .fade{
        background-color: rgb(100,100,100);
    }
    
}

header {

    margin: 0;
    padding: 0;
    width: 100vw;
    height: 10vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(1, 1fr);   
    background-color: rgb(219, 206, 159);
    h2 {font-size: 4vh;

        grid-column: 2/4;
        grid-row: 1/2;
        text-align: center;
    }

    .material-icons{
        grid-row: 1;
        text-align: center;
        margin-top: 3vh;
    }
    .menu {
        
        li {
            padding: 0px;
            padding-right: 3vw;
        }
        ul {
            padding-right: 10vw;
        }
        grid-row: 1;
        grid-column: 1;
        text-align: center;
        margin-top: 0px;
        position: absolute;
        height: 150vh;
        width: 30vw;
        display: none;
        background-color: rgb(219, 206, 159);
        border-right: black solid 2px;
    }
    
    img {
        grid-column: 4;
        height: 7vh;
        margin-left: 6vw;
        margin-top: 1.5vh;
    }

}