<div class="charmain">
    <div class="charsheet"> 
        <a href="../../original_files/character_sheet.pdf"> 
            <img src="img/character_sheet.jpg" alt="character sheet"> 
        </a> 
        
    </div>

   <img src="img/tricky_clerc.jpg" class="clerc"> 
    <a href="img/character.pdf"> <h3>Generate a character</h3> </a>
    <a href="img/character_sheet.pdf" download><h4>Download empty character sheet</h4></a>
</div>