<div class="dicemain">
    <!-- <div class="bg-images"> -->
    <h2>Dice simulator</h2>
    <input type="text" placeholder="Amount" class="amount">
    <input type="text" placeholder="Type" class="type">
    <button>Roll</button>
    <div class="ressult">
        <h3>Ressult: </h3>
        <input readonly>
    </div>
</div>