<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D&D Utility</title>
    <link rel="stylesheet" href="css/css.css">
</head>
<body>
<div class="container">
    <header>
       <h2>D&D Utility</h2>
        <img src="img/logga.jpg" alt="logga">
    </header>
    <%= yield %>
</div>
    
</body>
</html>