<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D&D Utility</title>
    <link rel="stylesheet" href="css/css.css">
    <link rel="stylesheet"  href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<div class="container">
    <header>
       <h2>D&D Utility</h2>
        <img src="img/logga.png" alt="logga">
        <i class="material-icons" onclick="toggleMenu()">menu</i>
        <div class="menu">
            
            <ul>
                <i class="material-icons" onclick="toggleMenu()">close</i>
                <a href="index.html"><li>Home</li></a>
                <a href="character.html"><li>Character</li></a>
                <a href= dice.html><li>Dice</li></a>
            </ul>
            
        </div>
        
    </header>
    
    <main>
        <%= yield %>
    </main>

</div>
<script src="js/menu.js"></script>
</body>
</html>